body {
    background-color: rgb(139, 142, 143);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.staging-chicken {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 12px 24px;
    font-size: 16px;
    border: whitesmoke;
    border-radius: 7px;
    background: #000000;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 300px;
    gap: 15px
}


.parallax {
    background-image: url(fine-art-alps-photo-m.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.page-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}